.container {
    margin: 0 5px;
    margin-top: 50px;
}

.content {
    margin-top: 50px;
}

@media (min-width: 700px) {
    .container {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px
    }
}