.blogTeaser h3 {
    border-bottom: 2px solid var(--txt-color);
}

.blogTeaser {
    margin-top: 70px;
}

.blogTitle {
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .blogTeaser {
        margin-top: 30px;
    }
}