.container {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px
}

.content {
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0 auto;
        margin-top: 25px;
        width: 90%;
    }
}