.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px
}

.content {
    margin-top: 100px;
    text-align: justify;
}

.content p {
    margin: 0;
}

.flexItem   {
    width: 48%;
}

.flexRow {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reverse {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0 auto;
        margin-top: 25px;
        width: 90%;
    }

    .content {
        margin-top: 50px;
    }

    .flexItem {
        width: 100%;
    }

    .flexRow {
        gap: 15px;
    }
}