.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px
}

.projectTitle {
    display: flex;
    direction: row;

}

.titleAuthor h1{
    font-size: 50px;
    display: block;
    margin: 0;
}

.titleAuthor p {
    margin: 0;
}

.titleAuthor {
    margin-left: 20px;
}